.pagination {
	width: 90%;
	margin: 0 auto;	
	padding: 20px;
	text-align: center;	
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	padding: 0.3rem;
	font-size: 1.2rem;
	margin-right: 0.8rem;
	color: goldenrod;	
	display: block;
	width: 5%;
}

.activeBtn {
	background-color: rgb(189, 151, 130);
	font-weight: bold;
}
